<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="telemetryDataSink" type="Thriot.Platform.Services.Telemetry.Configuration.TelemetryDataSection, Thriot.Platform.Services.Telemetry" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name="ManagementConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Thriot.Objects.Model.Operations.IPersistedCompanyOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.CompanyOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedServiceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.ServiceOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedNetworkOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.NetworkOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedDeviceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.DeviceOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedSettingOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.SettingOperations, Thriot.Objects.Operations.Azure" />

      <register type="Thriot.Objects.Model.Operations.ICompanyOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.CompanyOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.IServiceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.ServiceOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.INetworkOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.NetworkOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.IDeviceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.DeviceOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.ISettingOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.SettingOperations, Thriot.Objects.Common" />

      <register type="Thriot.Framework.IDateTimeProvider, Thriot.Framework" mapTo="Thriot.Framework.DateTimeProvider, Thriot.Framework" />
      <register type="Thriot.Framework.DataAccess.IConnectionParametersResolver, Thriot.Framework" mapTo="Thriot.Framework.DataAccess.LocalConnectionParametersResolver, Thriot.Framework" />
      <register type="Thriot.Framework.DataAccess.IDynamicConnectionStringResolver, Thriot.Framework" mapTo="Thriot.Objects.Model.DynamicConnectionStringResolver, Thriot.Objects.Model">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Framework.Azure.DataAccess.ICloudStorageClientFactory, Thriot.Framework.Azure" mapTo="Thriot.Framework.Azure.DataAccess.AzureCloudStorageClientFactory, Thriot.Framework.Azure" />
      <register type="Thriot.Platform.Services.Telemetry.Metadata.ITelemetryDataSinkMetadataRegistry, Thriot.Platform.Services.Telemetry" mapTo="Thriot.Platform.Services.Telemetry.Metadata.TelemetryDataSinkMetadataRegistry, Thriot.Platform.Services.Telemetry">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Platform.Services.Telemetry.ITelemetryDataSinkResolver, Thriot.Platform.Services.Telemetry" mapTo="Thriot.Platform.Services.Telemetry.TelemetryDataSinkResolver, Thriot.Platform.Services.Telemetry" />
      
      <register type="Thriot.Platform.Model.IBatchParameters, Thriot.Platform.Model" mapTo="Thriot.Platform.Services.Messaging.BatchParameters, Thriot.Platform.Services.Messaging">
        <lifetime type="singleton" />
      </register>

      <register type="Thriot.Platform.Model.Messaging.IMessagingOperations, Thriot.Platform.Model, Version=1.0.0.0, Culture=neutral" mapTo="Thriot.Platform.Services.Messaging.MessagingOperations, Thriot.Platform.Services.Messaging" />
      <register type="Thriot.Objects.Model.IDeviceAuthenticator, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.DeviceAuthenticator, Thriot.Objects.Common" />
      <register type="Thriot.ServiceClient.Messaging.IMessagingService, Thriot.ServiceClient.Messaging" mapTo="Thriot.ServiceClient.Messaging.MessagingService, Thriot.ServiceClient.Messaging">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <telemetryDataSink>
    <incoming>
      <sink name="azureData" type="Thriot.Plugins.Azure.TelemetryDataSinkCurrent, Thriot.Plugins.Azure" description="Azure table storage for data" />
      <sink name="azureTimeSeries" type="Thriot.Plugins.Azure.TelemetryDataSinkTimeSeries, Thriot.Plugins.Azure" description="Azure table storage for time series" />
      <sink name="localAzureData" type="Thriot.Plugins.Azure.TelemetryDataSinkCurrent, Thriot.Plugins.Azure" description="Locally-hosted Azure table storage for data">
        <parameterPresets>
          <param key="ConnectionName" value="TelemetryConnectionAzure" />
          <param key="Table" value="CurrentData" />
        </parameterPresets>
      </sink>
      <sink name="localAzureTimeSeries" type="Thriot.Plugins.Azure.TelemetryDataSinkTimeSeries, Thriot.Plugins.Azure" description="Locally-hosted Azure table storage for time series">
        <parameterPresets>
          <param key="ConnectionName" value="TelemetryConnectionAzure" />
          <param key="Table" value="TimeSeries" />
        </parameterPresets>
      </sink>
    </incoming>
  </telemetryDataSink>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" xsi:type="File" layout="${longdate} ${level} ${logger} ${message}" keepFileOpen="true" fileName="c:/Thriot/log/platform/api/${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
