<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="logfile" xsi:type="File" layout="${longdate} ${level} ${logger} ${message}" keepFileOpen="true" fileName="c:/Thriot/log/platform/tqs/${shortdate}.log" />
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
