<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Json" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
</packages>