<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" xdt:Transform="Insert" />
  </configSections>

  <entityFramework xdt:Transform="Insert">
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"></provider>
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>

  <system.data xdt:Transform="Insert">
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" xdt:Transform="Replace">
    <container>
      <register type="Thriot.TestHelpers.IEnvironmentFactory, Thriot.TestHelpers" mapTo="Thriot.TestHelpers.PgSqlEnvironmentFactory, Thriot.TestHelpers" />
    </container>
  </unity>
</configuration>