<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource=".\config\connectionStrings.config" xdt:Transform="Replace" />

  <nlog configSource=".\config\nlog.reporting.config" xdt:Transform="Replace" />

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Objects.Model.Operations.ICompanyOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Sql.CompanyOperations,IoT.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Objects.Model.Operations.IServiceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Sql.ServiceOperations,IoT.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Objects.Model.Operations.INetworkOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Sql.NetworkOperations,IoT.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Objects.Model.Operations.IDeviceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Sql.DeviceOperations,IoT.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Objects.Model.Operations.ISettingOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Sql.SettingOperations,IoT.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" xdt:Transform="Remove" xdt:Locator="Match(type)" />
      <register type="IoT.Objects.Operations.Sql.DataAccess.IObjectsUnitOfWorkFactory,IoT.Objects.Operations.Sql" mapTo="IoT.Objects.Operations.Sql.DataAccess.ObjectsUnitOfWorkFactory,IoT.Objects.Operations.Sql" xdt:Transform="Insert" />
    </container>
  </unity>
</configuration>