<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name="ManagementConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Objects.Model.Operations.ICompanyOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.CompanyOperations,IoT.Objects.Operations.Azure" />
      <register type="IoT.Objects.Model.Operations.IServiceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.ServiceOperations,IoT.Objects.Operations.Azure" />
      <register type="IoT.Objects.Model.Operations.INetworkOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.NetworkOperations,IoT.Objects.Operations.Azure" />
      <register type="IoT.Objects.Model.Operations.IDeviceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.DeviceOperations,IoT.Objects.Operations.Azure" />
      <register type="IoT.Objects.Model.Operations.ISettingOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.SettingOperations,IoT.Objects.Operations.Azure" />

      <register type="IoT.ServiceClient.TelemetrySetup.ITelemetryDataSinkSetupService, IoT.ServiceClient.TelemetrySetup" mapTo="IoT.ServiceClient.TelemetrySetup.TelemetryDataSinkSetupService, IoT.ServiceClient.TelemetrySetup">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Framework.DataAccess.IConnectionParametersResolver, IoT.Framework" mapTo="IoT.Framework.DataAccess.LocalConnectionParametersResolver, IoT.Framework" />
      <register type="IoT.Framework.DataAccess.IDynamicConnectionStringResolver, IoT.Framework" mapTo="IoT.Objects.Model.DynamicConnectionStringResolver, IoT.Objects.Model" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" mapTo="IoT.Framework.Azure.DataAccess.AzureCloudStorageClientFactory,IoT.Framework.Azure" />
      <register type="IoT.Reporting.Services.ITelemetryDataSinkProcessor, IoT.Reporting.Services" mapTo="IoT.Reporting.Services.TelemetryDataSinkProcessor, IoT.Reporting.Services" />
      <register type="IoT.Objects.Model.IDeviceAuthenticator, IoT.Objects.Model" mapTo="IoT.Objects.Common.DeviceAuthenticator, IoT.Objects.Common" />
      <register type="IoT.Objects.Model.INetworkAuthenticator, IoT.Objects.Model" mapTo="IoT.Objects.Common.NetworkAuthenticator, IoT.Objects.Common" />
    </container>
  </unity>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" 
              xsi:type="File" 
              layout="${longdate} ${level} ${logger} ${message}"
              keepFileOpen="true" 
              fileName="c:/Thriot/log/reporting/${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
