# User-specific files
*.suo
*.user
*.vspscc
*.vssscc
.vs

project.lock.json

**/bin/*
!**/node_modules/gulp/bin/*
**/obj/*

*.nupkg
**/packages/*
!**/packages/repositories.config

artifacts/*
TestResults/*
Build/output/*
Web/Thriot.Web/wwwroot/lib/*

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


_NCrunch_*
.*crunch*.local.xml
*.ncrunchproject
*.ncrunchsolution
**/nCrunchTemp_*

.*.swp
