<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="ManagementConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Objects.Model.Operations.ICompanyOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.CompanyOperations,IoT.Objects.Operations.Azure" name="storageCompanyOperations" />
      <register type="IoT.Objects.Model.Operations.IServiceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.ServiceOperations,IoT.Objects.Operations.Azure" name="storageServiceOperations" />
      <register type="IoT.Objects.Model.Operations.INetworkOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.NetworkOperations,IoT.Objects.Operations.Azure" name="storageNetworkOperations" />
      <register type="IoT.Objects.Model.Operations.IDeviceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.DeviceOperations,IoT.Objects.Operations.Azure" name="storageDeviceOperations" />
      <register type="IoT.Objects.Model.Operations.ISettingOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.SettingOperations,IoT.Objects.Operations.Azure" name="storageSettingOperations" />
    
      <register type="IoT.Objects.Model.Operations.ICompanyOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.CompanyOperations,IoT.Objects.Common">
        <constructor>
          <param name="companyOperations" dependencyName="storageCompanyOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.IServiceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.ServiceOperations,IoT.Objects.Common">
        <constructor>
          <param name="serviceOperations" dependencyName="storageServiceOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.INetworkOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.NetworkOperations,IoT.Objects.Common">
        <constructor>
          <param name="networkOperations" dependencyName="storageNetworkOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.IDeviceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.DeviceOperations,IoT.Objects.Common">
        <constructor>
          <param name="deviceOperations" dependencyName="storageDeviceOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.ISettingOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.SettingOperations,IoT.Objects.Common">
        <constructor>
          <param name="settingOperations" dependencyName="storageSettingOperations" />
        </constructor>
      </register>

      <register type="IoT.Framework.IDateTimeProvider,IoT.Framework" mapTo="IoT.Framework.DateTimeProvider,IoT.Framework" />
      <register type="IoT.Framework.DataAccess.IConnectionParametersResolver, IoT.Framework" mapTo="IoT.Framework.DataAccess.LocalConnectionParametersResolver, IoT.Framework" />
      <register type="IoT.Framework.DataAccess.IDynamicConnectionStringResolver, IoT.Framework" mapTo="IoT.Objects.Model.DynamicConnectionStringResolver, IoT.Objects.Model" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" mapTo="IoT.Framework.Azure.DataAccess.AzureCloudStorageClientFactory,IoT.Framework.Azure" />
      <register type="IoT.Platform.Services.Telemetry.Metadata.ITelemetryDataSinkMetadataRegistry, IoT.Platform.Services.Telemetry" mapTo="IoT.Platform.Services.Telemetry.Metadata.TelemetryDataSinkMetadataRegistry, IoT.Platform.Services.Telemetry">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Platform.Services.Telemetry.ITelemetryDataSinkResolver, IoT.Platform.Services.Telemetry" mapTo="IoT.Platform.Services.Telemetry.TelemetryDataSinkResolver, IoT.Platform.Services.Telemetry" />
      <register type="IoT.Platform.Model.IBatchParameters,IoT.Platform.Model" mapTo="IoT.Platform.Services.Messaging.BatchParameters,IoT.Platform.Services.Messaging">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.ServiceClient.TelemetrySetup.ITelemetryDataSinkSetupService, IoT.ServiceClient.TelemetrySetup" mapTo="IoT.ServiceClient.TelemetrySetup.TelemetryDataSinkSetupService, IoT.ServiceClient.TelemetrySetup">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Platform.Model.Messaging.IMessagingOperations, IoT.Platform.Model" mapTo="IoT.Platform.Services.Messaging.MessagingOperations, IoT.Platform.Services.Messaging" />
      <register type="IoT.Platform.PersistentConnections.ConnectionRegistry, IoT.Platform.PersistentConnections" mapTo="IoT.Platform.PersistentConnections.ConnectionRegistry, IoT.Platform.PersistentConnections">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Platform.PersistentConnections.PusherRegistry, IoT.Platform.PersistentConnections" mapTo="IoT.Platform.PersistentConnections.PusherRegistry, IoT.Platform.PersistentConnections">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Objects.Model.IDeviceAuthenticator, IoT.Objects.Model" mapTo="IoT.Objects.Common.DeviceAuthenticator, IoT.Objects.Common" />
      <register type="IoT.ServiceClient.Messaging.IMessagingService, IoT.ServiceClient.Messaging" mapTo="IoT.ServiceClient.Messaging.MessagingService, IoT.ServiceClient.Messaging">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" 
              xsi:type="File" 
              layout="${longdate} ${level} ${logger} ${message}" 
              keepFileOpen="true" 
              fileName="c:/Thriot/log/platform/ws/${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2" newVersion="5.6.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>