@{
    ViewBag.Title = "Resend activation email";
}

<h2>Resend activation email</h2>

<div ng-controller="UserController">
    <label for="email" class="labelwidth">Email</label><input type="email" name="email" ng-model="userInfo.email" autofocus /><br />
    <input type="button" value="Resend activation email" ng-click="activationResend()"  />
</div>
