@{
    ViewBag.Title = "Resend activation email";
}

<h2>Resend activation email</h2>

<form ng-submit="activationResend()" ng-controller="UserController">
    <label for="email" class="labelwidth">Email</label><input type="email" name="email" ng-model="userInfo.email" autofocus /><br />
    <input type="submit" value="Resend activation email" />
</form>
