@{
    ViewBag.Title = "Thriot - Change password";
}

<h2>Change password</h2>

<div ng-controller="UserController">
    <form ng-submit='changePassword()'>
        <label for="currentPassword" class="labelwidth">Old password</label><input type="password" id="currentPassword" ng-model="userInfo.currentPassword" autofocus /><br />
        <label for="newPasswd" class="labelwidth">New password</label><input type="password" id="newPasswd" ng-model="userInfo.newPassword"/><br />
        <input type="submit" value="Change password" />
    </form>
</div>
