@{
    ViewBag.Title = "Change password";
}

<h2>Reset password</h2>

<form ng-submit="changePassword()" ng-controller="UserController">
    <label for="oldPasswd" class="labelwidth">Old password</label><input type="password" name="oldPasswd" ng-model="userInfo.oldPassword" autofocus /><br />
    <label for="newPasswd" class="labelwidth">New password</label><input type="password" name="newPasswd" ng-model="userInfo.newPassword"/><br />
    <input type="submit" value="Change password" />
</form>
