@{
    ViewBag.Title = "Thriot - Send forgot password reset email";
}

<h2>Send forgot password reset email</h2>

<div ng-controller="UserController">
    <form ng-submit='sendForgotPasswordEmail()'>
        <label for="email" class="labelwidth">Email</label><input type="email" id="email" ng-model="userInfo.email" autofocus/><br/>
        <input type="submit" value="Send forgot password reset email"/>
    </form>
</div>
