@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div ng-controller="UserController">
    @Html.Raw("<form ng-submit='login()'>")
        <label for="email" class="labelwidth">Email</label><input type="email" id="email" ng-model="userInfo.email" autofocus/><br/>
        <label for="password" class="labelwidth">Password</label><input type="password" id="password" ng-model="userInfo.password"/><br/>
        <input type="submit" value="Login"/>
    @Html.Raw("</form>")
</div>
<div>&nbsp;</div>
<div>
    @Html.ActionLink("Resend activation email", "ActivationResend") &nbsp; @Html.ActionLink("Forgot password", "ForgotPasswordSend")
</div>
