@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form ng-submit="register()" ng-controller="UserController">
    <label for="name" class="labelwidth">Name</label><input type="text" name="name" ng-model="userInfo.name" autofocus /><br />
    <label for="email" class="labelwidth">Email</label><input type="email" name="email" ng-model="userInfo.email" /><br />
    <label for="password" class="labelwidth">Password</label><input type="password" name="password" ng-model="userInfo.password" /><br />
    <input type="submit" value="Register" />
</form>
<div>&nbsp;</div>
<div>
    @Html.ActionLink("Resend activation email", "ActivationResend") &nbsp; @Html.ActionLink("Forgot password", "ForgotPasswordSend")
</div>
