@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div ng-controller="UserController">
    @Html.Raw("<form ng-submit='register()'>")
        <label for="name" class="labelwidth">Name</label><input type="text" id="name" ng-model="userInfo.name" autofocus/><br/>
        <label for="email" class="labelwidth">Email</label><input type="email" id="email" ng-model="userInfo.email"/><br/>
        <label for="password" class="labelwidth">Password</label><input type="password" id="password" ng-model="userInfo.password"/><br/>
        <input type="submit" value="Register"/>
    @Html.Raw("</form>")
</div>
<div>&nbsp;</div>
<div>
    @Html.ActionLink("Resend activation email", "ActivationResend") &nbsp; @Html.ActionLink("Forgot password", "ForgotPasswordSend")
</div>
