@{
    ViewBag.Title = "Reset password";
}

<h2>Reset password</h2>

<div ng-controller="UserController">
    <label for="passwd" class="labelwidth">Password</label><input type="password" name="passwd" ng-model="userInfo.password" autofocus /><br />
    <input type="button" value="Reset password" ng-click="resetPassword()" />
</div>
