@{
    ViewBag.Title = "Reset password";
}

<h2>Reset password</h2>

<div ng-controller="UserController">
    <form ng-submit='resetPassword()'>
       <label for="passwd" class="labelwidth">Password</label><input type="password" id="passwd" ng-model="userInfo.password" autofocus/><br/>
        <input type="submit" value="Reset password"/>
    </form>
</div>
