<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" xdt:Transform="Replace">
    <container>
      <register type="IoT.Messaging.Services.Storage.IPersistentStorage, IoT.Messaging.Services" mapTo="IoT.Messaging.Services.Storage.PersistentStorage, IoT.Messaging.Services" />
      <register type="IoT.Messaging.Services.Storage.IConnectionStringResolver, IoT.Messaging.Services" mapTo="IoT.Messaging.Services.Tests.ConnectionStringResolver, IoT.Messaging.Services.Tests" />
    </container>
  </unity>
</configuration>