<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Messaging.Services.Storage.IPersistentStorage, IoT.Messaging.Services" mapTo="IoT.Messaging.Services.Storage.PersistentStorageStub, IoT.Messaging.Services" />
    </container>
  </unity>
</configuration>