<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <!-- IIS - Dev PgSql -->
    <add key="ManagementApi" value="http://192.168.0.203:8000/v1" />
    <add key="PlatformApi" value="http://192.168.0.203:8001/v1" />
    <add key="ReportingApi" value="http://192.168.0.203:8002/v1" />
    <add key="PlatformWebSocketApi" value="ws://192.168.0.203:8080" />
    <add key="sinkData" value="localPgSqlData"/>
    <add key="sinkTimeSeries" value="localPgSqlTimeSeries"/>
    <add key="paramSinkData" value="pgSqlData"/>
    <add key="paramSinkDataConnectionString" value="Server=thriothost;Port=5432;Database=ThriotTelemetry;User Id=thriottelemetry;Password=thriottelemetry;"/>
  </appSettings>
</configuration>