<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <!-- IIS - Dev PgSql Cassandra-->
    <add key="ManagementApi" value="http://localhost/api/v1" />
    <add key="PlatformApi" value="http://localhost/papi/v1" />
    <add key="ReportingApi" value="http://localhost/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://localhost:8080" />
    <add key="sinkData" value="localCassandraData"/>
    <add key="sinkTimeSeries" value="localCassandraTimeSeries"/>
    <add key="paramSinkData" value="cassandraData"/>
    <add key="paramSinkDataKeyspace" value="telemetrytest"/>
    <add key="paramSinkDataContactPoints" value="ubuntucas1"/>
  </appSettings>
</configuration>