<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- IIS Express - Dev Azure -->
    <add key="ManagementApi" value="http://localhost:8000/v1" />
    <add key="PlatformApi" value="http://localhost:8001/v1" />
    <add key="ReportingApi" value="http://localhost:8002/v1" />
    <add key="PlatformWebSocketApi" value="ws://localhost:8080" />
    <add key="sinkData" value="localAzureData"/>
    <add key="sinkTimeSeries" value="localAzureTimeSeries"/>
    <add key="paramSinkData" value="azureData"/>
    <add key="paramSinkDataConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
  <!--<system.diagnostics>

    <trace autoflush="true" />

    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="MyTraceFile"/>
          <add name="MyConsole"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add
        name="MyTraceFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="System.Net.trace.log" />
      <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Verbose" />
    </switches>

  </system.diagnostics>-->
</configuration>