<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <!-- IIS - Prod PgSql -->
    <add key="ManagementApi" value="http://thriotpgsql.cloudapp.net/api/v1" />
    <add key="PlatformApi" value="http://thriotpgsql.cloudapp.net/papi/v1" />
    <add key="ReportingApi" value="http://thriotpgsql.cloudapp.net/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://thriotpgsql.cloudapp.net:8080" />
    <add key="sinkData" value="localPgSqlData"/>
    <add key="sinkTimeSeries" value="localPgSqlTimeSeries"/>
    <add key="paramSinkData" value="pgSqlData"/>
    <add key="paramSinkDataConnectionString" value="Server=127.0.0.1;Port=5432;Database=ThriotTelemetry;User Id=thriottelemetry;Password=thriottelemetry;"/>
  </appSettings>
</configuration>
