<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="Script" value="Sql.sql"/>
  </appSettings>
  <connectionStrings>
    <add name="ManagementConnection" connectionString="Server=.\SQLEXPRESS;Database=Thriot;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Framework.DataAccess.IConnectionParametersResolver, IoT.Framework" mapTo="IoT.Framework.DataAccess.LocalConnectionParametersResolver, IoT.Framework" />
      <register type="IoT.Management.Operations.Sql.DataAccess.IManagementUnitOfWorkFactory,IoT.Management.Operations.Sql" mapTo="IoT.Management.Operations.Sql.DataAccess.Sql.ManagementUnitOfWorkFactorySql,IoT.Management.Operations.Sql" />
    </container>
  </unity>
</configuration>