<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" xdt:Transform="Insert" />
  </configSections>

  <connectionStrings configSource=".\config\connectionStrings.config" xdt:Transform="Replace" />

  <nlog configSource=".\config\nlog.platformws.config" xdt:Transform="Replace" />

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Thriot.Objects.Model.Operations.IPersistedCompanyOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Sql.CompanyOperations, Thriot.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="Thriot.Objects.Model.Operations.IPersistedServiceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Sql.ServiceOperations, Thriot.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="Thriot.Objects.Model.Operations.IPersistedNetworkOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Sql.NetworkOperations, Thriot.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="Thriot.Objects.Model.Operations.IPersistedDeviceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Sql.DeviceOperations, Thriot.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="Thriot.Objects.Model.Operations.IPersistedSettingOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Sql.SettingOperations, Thriot.Objects.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="Thriot.Framework.Azure.DataAccess.ICloudStorageClientFactory, Thriot.Framework.Azure" xdt:Transform="Remove" xdt:Locator="Match(type)" />
      <register type="Thriot.Objects.Operations.Sql.DataAccess.IObjectsUnitOfWorkFactory, Thriot.Objects.Operations.Sql" mapTo="Thriot.Objects.Operations.Sql.DataAccess.PgSql.ObjectsUnitOfWorkFactoryPgSql, Thriot.Objects.Operations.Sql" xdt:Transform="Insert" />
    </container>
  </unity>

  <entityFramework xdt:Transform="Insert">
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"></provider>
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>

  <system.data xdt:Transform="Insert">
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>