<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="ManagementConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Thriot.Objects.Model.Operations.IPersistedCompanyOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.CompanyOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedServiceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.ServiceOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedNetworkOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.NetworkOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedDeviceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.DeviceOperations, Thriot.Objects.Operations.Azure" />
      <register type="Thriot.Objects.Model.Operations.IPersistedSettingOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Operations.Azure.SettingOperations, Thriot.Objects.Operations.Azure" />

      <register type="Thriot.Objects.Model.Operations.ICompanyOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.CompanyOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.IServiceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.ServiceOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.INetworkOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.NetworkOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.IDeviceOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.DeviceOperations, Thriot.Objects.Common" />
      <register type="Thriot.Objects.Model.Operations.ISettingOperations, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.CachingOperations.SettingOperations, Thriot.Objects.Common" />

      <register type="Thriot.Framework.IDateTimeProvider, Thriot.Framework" mapTo="Thriot.Framework.DateTimeProvider, Thriot.Framework" />
      <register type="Thriot.Framework.DataAccess.IConnectionParametersResolver, Thriot.Framework" mapTo="Thriot.Framework.DataAccess.LocalConnectionParametersResolver, Thriot.Framework" />
      <register type="Thriot.Framework.DataAccess.IDynamicConnectionStringResolver, Thriot.Framework" mapTo="Thriot.Objects.Model.DynamicConnectionStringResolver, Thriot.Objects.Model">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Framework.Azure.DataAccess.ICloudStorageClientFactory, Thriot.Framework.Azure" mapTo="Thriot.Framework.Azure.DataAccess.AzureCloudStorageClientFactory, Thriot.Framework.Azure" />
      <register type="Thriot.Platform.Services.Telemetry.Metadata.ITelemetryDataSinkMetadataRegistry, Thriot.Platform.Services.Telemetry" mapTo="Thriot.Platform.Services.Telemetry.Metadata.TelemetryDataSinkMetadataRegistry, Thriot.Platform.Services.Telemetry">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Platform.Services.Telemetry.ITelemetryDataSinkResolver, Thriot.Platform.Services.Telemetry" mapTo="Thriot.Platform.Services.Telemetry.TelemetryDataSinkResolver, Thriot.Platform.Services.Telemetry" />
      <register type="Thriot.Platform.Model.IBatchParameters, Thriot.Platform.Model" mapTo="Thriot.Platform.Services.Messaging.BatchParameters, Thriot.Platform.Services.Messaging">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.ServiceClient.TelemetrySetup.ITelemetryDataSinkSetupService, Thriot.ServiceClient.TelemetrySetup" mapTo="Thriot.ServiceClient.TelemetrySetup.TelemetryDataSinkSetupService, Thriot.ServiceClient.TelemetrySetup">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Platform.Model.Messaging.IMessagingOperations, Thriot.Platform.Model" mapTo="Thriot.Platform.Services.Messaging.MessagingOperations, Thriot.Platform.Services.Messaging" />
      <register type="Thriot.Platform.PersistentConnections.ConnectionRegistry, Thriot.Platform.PersistentConnections" mapTo="Thriot.Platform.PersistentConnections.ConnectionRegistry, Thriot.Platform.PersistentConnections">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Platform.PersistentConnections.PusherRegistry, Thriot.Platform.PersistentConnections" mapTo="Thriot.Platform.PersistentConnections.PusherRegistry, Thriot.Platform.PersistentConnections">
        <lifetime type="singleton" />
      </register>
      <register type="Thriot.Objects.Model.IDeviceAuthenticator, Thriot.Objects.Model" mapTo="Thriot.Objects.Common.DeviceAuthenticator, Thriot.Objects.Common" />
      <register type="Thriot.ServiceClient.Messaging.IMessagingService, Thriot.ServiceClient.Messaging" mapTo="Thriot.ServiceClient.Messaging.MessagingService, Thriot.ServiceClient.Messaging">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>