<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <!-- IIS - Prod Azure -->
    <add key="ManagementApi" value="http://thriotweb.cloudapp.net/api/v1" />
    <add key="PlatformApi" value="http://thriotweb.cloudapp.net/papi/v1" />
    <add key="ReportingApi" value="http://thriotweb.cloudapp.net/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://thriotweb.cloudapp.net:8080" />
    <add key="sinkData" value="localAzureData"/>
    <add key="sinkTimeSeries" value="localAzureTimeSeries"/>
    <add key="paramSinkData" value="azureData"/>
    <add key="paramSinkDataConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
</configuration>