<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- IIS Express - Dev Azure -->
    <add key="ManagementApi" value="http://localhost:12345/api/v1" />
    <add key="PlatformApi" value="http://localhost:12345/papi/v1" />
    <add key="ReportingApi" value="http://localhost:12345/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://localhost:8080" />
    <add key="sinkData" value="localAzureData"/>
    <add key="sinkTimeSeries" value="localAzureTimeSeries"/>
    <add key="paramSinkData" value="azureData"/>
    <add key="paramSinkDataConnectionString" value="UseDevelopmentStorage=true"/>    

    <!-- IIS - Dev Azure -->
    <!--
    <add key="ManagementApi" value="http://localhost/api/v1" />
    <add key="PlatformApi" value="http://localhost/papi/v1" />
    <add key="ReportingApi" value="http://localhost/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://localhost:8080" />
    <add key="sinkData" value="localAzureData"/>
    <add key="sinkTimeSeries" value="localAzureTimeSeries"/>
    <add key="paramSinkData" value="azureData"/>
    <add key="paramSinkDataConnectionString" value="UseDevelopmentStorage=true"/>
    -->

    <!-- IIS - Dev Sql -->
    <!--
    <add key="ManagementApi" value="http://localhost/api/v1" />
    <add key="PlatformApi" value="http://localhost/papi/v1" />
    <add key="ReportingApi" value="http://localhost/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://localhost:8080" />
    <add key="sinkData" value="localSqlData"/>
    <add key="sinkTimeSeries" value="localSqlTimeSeries"/>
    <add key="paramSinkData" value="sqlData"/>
    <add key="paramSinkDataConnectionString" value="Server=.\SQLEXPRESS;Database=IoTTelemetry;Trusted_Connection=True;"/>
    -->

    <!-- Prod Azure -->
    <!--
    <add key="ManagementApi" value="http://thriotweb.cloudapp.net/api/v1" />
    <add key="PlatformApi" value="http://thriotweb.cloudapp.net/papi/v1" />
    <add key="ReportingApi" value="http://thriotweb.cloudapp.net/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://thriotweb.cloudapp.net:8080" />
    <add key="sinkData" value="localAzureData"/>
    <add key="sinkTimeSeries" value="localAzureTimeSeries"/>
    <add key="paramSinkData" value="azureData"/>
    <add key="paramSinkDataConnectionString" value="UseDevelopmentStorage=true"/>
    -->

    <!-- IIS - Prod Sql -->
    <!--
    <add key="ManagementApi" value="http://localhost/api/v1" />
    <add key="PlatformApi" value="http://localhost/papi/v1" />
    <add key="ReportingApi" value="http://localhost/rapi/v1" />
    <add key="PlatformWebSocketApi" value="ws://localhost:8080" />
    <add key="sinkData" value="localSqlData"/>
    <add key="sinkTimeSeries" value="localSqlTimeSeries"/>
    <add key="paramSinkData" value="sqlData"/>
    <add key="paramSinkDataConnectionString" value="Server=.\SQLEXPRESS;Database=IoTTelemetry;Trusted_Connection=True;"/>
    -->

  </appSettings>
  <!--<system.diagnostics>

    <trace autoflush="true" />

    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="MyTraceFile"/>
          <add name="MyConsole"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add
        name="MyTraceFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="System.Net.trace.log" />
      <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Verbose" />
    </switches>

  </system.diagnostics>-->
</configuration>