<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource=".\config\connectionStrings.messaging.config" xdt:Transform="Replace" />

  <nlog configSource=".\config\nlog.messaging.config" xdt:Transform="Replace" />

</configuration>
