<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Thriot.TestHelpers.IEnvironmentFactory, Thriot.TestHelpers" mapTo="Thriot.TestHelpers.InMemoryEnvironmentFactory, Thriot.TestHelpers" />
      <register type="Thriot.Framework.Azure.DataAccess.ICloudStorageClientFactory, Thriot.Framework.Azure" mapTo="Thriot.Framework.Azure.DataAccess.InMemoryCloudStorageClientFactory, Thriot.Framework.Azure" />
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>