<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource=".\config\azure\connectionStrings.config" xdt:Transform="Replace" />

  <nlog configSource=".\config\azure\nlog.platformapi.config" xdt:Transform="Replace" />

</configuration>
