<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="telemetryDataSink" type="IoT.Platform.Services.Telemetry.Configuration.TelemetryDataSection, IoT.Platform.Services.Telemetry" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name="ManagementConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Objects.Model.Operations.ICompanyOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.CompanyOperations,IoT.Objects.Operations.Azure" name="storageCompanyOperations" />
      <register type="IoT.Objects.Model.Operations.IServiceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.ServiceOperations,IoT.Objects.Operations.Azure" name="storageServiceOperations" />
      <register type="IoT.Objects.Model.Operations.INetworkOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.NetworkOperations,IoT.Objects.Operations.Azure" name="storageNetworkOperations" />
      <register type="IoT.Objects.Model.Operations.IDeviceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.DeviceOperations,IoT.Objects.Operations.Azure" name="storageDeviceOperations" />
      <register type="IoT.Objects.Model.Operations.ISettingOperations,IoT.Objects.Model" mapTo="IoT.Objects.Operations.Azure.SettingOperations,IoT.Objects.Operations.Azure" name="storageSettingOperations" />

      <register type="IoT.Objects.Model.Operations.ICompanyOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.CompanyOperations,IoT.Objects.Common">
        <constructor>
          <param name="companyOperations" dependencyName="storageCompanyOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.IServiceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.ServiceOperations,IoT.Objects.Common">
        <constructor>
          <param name="serviceOperations" dependencyName="storageServiceOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.INetworkOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.NetworkOperations,IoT.Objects.Common">
        <constructor>
          <param name="networkOperations" dependencyName="storageNetworkOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.IDeviceOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.DeviceOperations,IoT.Objects.Common">
        <constructor>
          <param name="deviceOperations" dependencyName="storageDeviceOperations" />
        </constructor>
      </register>
      <register type="IoT.Objects.Model.Operations.ISettingOperations,IoT.Objects.Model" mapTo="IoT.Objects.Common.CachingOperations.SettingOperations,IoT.Objects.Common">
        <constructor>
          <param name="settingOperations" dependencyName="storageSettingOperations" />
        </constructor>
      </register>

      <register type="IoT.Framework.IDateTimeProvider,IoT.Framework" mapTo="IoT.Framework.DateTimeProvider,IoT.Framework" />
      <register type="IoT.Framework.DataAccess.IConnectionParametersResolver, IoT.Framework" mapTo="IoT.Framework.DataAccess.LocalConnectionParametersResolver, IoT.Framework" />
      <register type="IoT.Framework.DataAccess.IDynamicConnectionStringResolver, IoT.Framework" mapTo="IoT.Objects.Model.DynamicConnectionStringResolver, IoT.Objects.Model" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" mapTo="IoT.Framework.Azure.DataAccess.AzureCloudStorageClientFactory,IoT.Framework.Azure" />
      <register type="IoT.Platform.Services.Telemetry.Metadata.ITelemetryDataSinkMetadataRegistry, IoT.Platform.Services.Telemetry" mapTo="IoT.Platform.Services.Telemetry.Metadata.TelemetryDataSinkMetadataRegistry, IoT.Platform.Services.Telemetry">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Platform.Services.Telemetry.ITelemetryDataSinkResolver, IoT.Platform.Services.Telemetry" mapTo="IoT.Platform.Services.Telemetry.TelemetryDataSinkResolver, IoT.Platform.Services.Telemetry" />
      
      <register type="IoT.Platform.Model.IBatchParameters,IoT.Platform.Model" mapTo="IoT.Platform.Services.Messaging.BatchParameters,IoT.Platform.Services.Messaging">
        <lifetime type="singleton" />
      </register>

      <register type="IoT.Platform.Model.Messaging.IMessagingOperations, IoT.Platform.Model, Version=1.0.0.0, Culture=neutral" mapTo="IoT.Platform.Services.Messaging.MessagingOperations, IoT.Platform.Services.Messaging" />
      <register type="IoT.Objects.Model.IDeviceAuthenticator, IoT.Objects.Model" mapTo="IoT.Objects.Common.DeviceAuthenticator, IoT.Objects.Common" />
      <register type="IoT.ServiceClient.Messaging.IMessagingService, IoT.ServiceClient.Messaging" mapTo="IoT.ServiceClient.Messaging.MessagingService, IoT.ServiceClient.Messaging">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <telemetryDataSink>
    <incoming>
      <sink name="azureData" type="IoT.Plugins.Azure.TelemetryDataSinkCurrent, IoT.Plugins.Azure" description="Azure table storage for data" />
      <sink name="azureTimeSeries" type="IoT.Plugins.Azure.TelemetryDataSinkTimeSeries, IoT.Plugins.Azure" description="Azure table storage for time series" />
      <sink name="localAzureData" type="IoT.Plugins.Azure.TelemetryDataSinkCurrent, IoT.Plugins.Azure" description="Locally-hosted Azure table storage for data">
        <parameterPresets>
          <param key="ConnectionName" value="TelemetryConnectionAzure" />
          <param key="Table" value="CurrentData" />
        </parameterPresets>
      </sink>
      <sink name="localAzureTimeSeries" type="IoT.Plugins.Azure.TelemetryDataSinkTimeSeries, IoT.Plugins.Azure" description="Locally-hosted Azure table storage for time series">
        <parameterPresets>
          <param key="ConnectionName" value="TelemetryConnectionAzure" />
          <param key="Table" value="TimeSeries" />
        </parameterPresets>
      </sink>
    </incoming>
  </telemetryDataSink>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" xsi:type="File" layout="${longdate} ${level} ${logger} ${message}" keepFileOpen="true" fileName="c:/Thriot/log/platform/api/${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2" newVersion="5.6.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
