<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource=".\config\connectionStrings.config" xdt:Transform="Replace" />

  <nlog configSource=".\config\nlog.management.config" xdt:Transform="Replace" />

  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp configSource=".\config\smtpsettings.config" />
    </mailSettings>
  </system.net>
</configuration>
