<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name="ManagementConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Management.Model.Operations.IUserOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Azure.UserOperations,IoT.Management.Operations.Azure" />
      <register type="IoT.Management.Model.Operations.ICompanyOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Azure.CompanyOperations,IoT.Management.Operations.Azure" />
      <register type="IoT.Management.Model.Operations.IServiceOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Azure.ServiceOperations,IoT.Management.Operations.Azure" />
      <register type="IoT.Management.Model.Operations.INetworkOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Azure.NetworkOperations,IoT.Management.Operations.Azure" />
      <register type="IoT.Management.Model.Operations.IDeviceOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Azure.DeviceOperations,IoT.Management.Operations.Azure" />
      <register type="IoT.Management.Model.Operations.ISettingOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Azure.SettingOperations,IoT.Management.Operations.Azure" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" mapTo="IoT.Framework.Azure.DataAccess.AzureCloudStorageClientFactory,IoT.Framework.Azure" />
      <register type="IoT.Framework.DataAccess.IConnectionParametersResolver, IoT.Framework" mapTo="IoT.Framework.DataAccess.LocalConnectionParametersResolver, IoT.Framework" />
      <register type="IoT.Management.Services.IAuthenticationContext,IoT.Management.Services" mapTo="IoT.Management.WebApi.Auth.WebAuthenticationContext,IoT.Management.WebApi" />
      <register type="IoT.Management.Services.ISettingProvider,IoT.Management.Services" mapTo="IoT.Management.Services.SettingProvider,IoT.Management.Services">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.Management.Services.ICapabilityProvider,IoT.Management.Services" mapTo="IoT.Management.Services.CapabilityProvider,IoT.Management.Services" />
      <register type="IoT.Management.Services.IEnvironmentPrebuilder,IoT.Management.Services" mapTo="IoT.Management.Services.EnvironmentPrebuilder,IoT.Management.Services" />
      <register type="IoT.Management.Services.IMailer,IoT.Management.Services" mapTo="IoT.Management.WebApi.WebFunctions.Mailer,IoT.Management.WebApi" />
      <register type="IoT.ServiceClient.TelemetrySetup.ITelemetryDataSinkSetupService, IoT.ServiceClient.TelemetrySetup" mapTo="IoT.ServiceClient.TelemetrySetup.TelemetryDataSinkSetupService, IoT.ServiceClient.TelemetrySetup">
        <lifetime type="singleton" />
      </register>
      <register type="IoT.ServiceClient.Messaging.IMessagingService, IoT.ServiceClient.Messaging" mapTo="IoT.ServiceClient.Messaging.MessagingService, IoT.ServiceClient.Messaging">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" 
              xsi:type="File" 
              layout="${longdate} ${level} ${logger} ${message}" 
              keepFileOpen="true" 
              fileName="c:/Thriot/log/management/${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2" newVersion="5.6.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2" newVersion="5.6.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2" newVersion="5.6.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
