<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ManagementConnection" connectionString="Server=.\SQLEXPRESS;Database=IoT;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Management.Model.Operations.IUserOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.UserOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.ICompanyOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.CompanyOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.IServiceOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.ServiceOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.INetworkOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.NetworkOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.IDeviceOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.DeviceOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.ISettingOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.SettingOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" xdt:Transform="Remove" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Operations.Sql.DataAccess.IManagementUnitOfWorkFactory,IoT.Management.Operations.Sql" mapTo="IoT.Management.Operations.Sql.DataAccess.ManagementUnitOfWorkFactory,IoT.Management.Operations.Sql" xdt:Transform="Insert" />
    </container>
  </unity>
</configuration>