<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" xdt:Transform="Insert" />
  </configSections>
  
  <connectionStrings>
    <add name="ManagementConnection" connectionString="Server=127.0.0.1;Port=5432;Database=Thriot;User Id=thriot;Password=thriot;" providerName="Npgsql" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <entityFramework xdt:Transform="Replace">
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"></provider>
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>

  <system.data xdt:Transform="Insert">
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="IoT.Management.Model.Operations.IUserOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.UserOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.ICompanyOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.CompanyOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.IServiceOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.ServiceOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.INetworkOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.NetworkOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.IDeviceOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.DeviceOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Model.Operations.ISettingOperations,IoT.Management.Model" mapTo="IoT.Management.Operations.Sql.SettingOperations,IoT.Management.Operations.Sql" xdt:Transform="Replace" xdt:Locator="Match(type)" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" xdt:Transform="Remove" xdt:Locator="Match(type)" />
      <register type="IoT.Management.Operations.Sql.DataAccess.IManagementUnitOfWorkFactory,IoT.Management.Operations.Sql" mapTo="IoT.Management.Operations.Sql.DataAccess.PgSql.ManagementUnitOfWorkFactoryPgSql,IoT.Management.Operations.Sql" xdt:Transform="Insert" />
    </container>
  </unity>
</configuration>