<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" xdt:Transform="Replace">
    <container>
      <register type="IoT.UnitTestHelpers.IEnvironmentFactory, IoT.UnitTestHelpers" mapTo="IoT.UnitTestHelpers.PgSqlEnvironmentFactory, IoT.UnitTestHelpers" />
      <register type="IoT.Platform.PersistentConnections.ConnectionRegistry, IoT.Platform.PersistentConnections" mapTo="IoT.Platform.PersistentConnections.ConnectionRegistry, IoT.Platform.PersistentConnections">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>