<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" xdt:Transform="Replace">
    <container>
      <register type="IoT.UnitTestHelpers.IEnvironmentFactory, IoT.UnitTestHelpers" mapTo="IoT.UnitTestHelpers.AzureEnvironmentFactory, IoT.UnitTestHelpers" />
      <register type="IoT.Framework.Azure.DataAccess.ICloudStorageClientFactory,IoT.Framework.Azure" mapTo="IoT.Framework.Azure.DataAccess.AzureCloudStorageClientFactory,IoT.Framework.Azure" />
    </container>
  </unity>
</configuration>