<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings  xdt:Transform="Replace">
    <add key="IPersistentStorage" value="Thriot.Messaging.Services.Storage.PersistentStoragePgSql, Thriot.Messaging.Services"/>
    <add key="IConnectionStringResolver" value="Thriot.Messaging.Services.Tests.ConnectionStringResolverPgSql, Thriot.Messaging.Services.Tests"/>
  </appSettings>
</configuration>