<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" xdt:Transform="Replace">
    <container>
      <register type="Thriot.Messaging.Services.Storage.IPersistentStorage, Thriot.Messaging.Services" mapTo="Thriot.Messaging.Services.Storage.PersistentStoragePgSql, Thriot.Messaging.Services" />
      <register type="Thriot.Messaging.Services.Storage.IConnectionStringResolver, Thriot.Messaging.Services" mapTo="Thriot.Messaging.Services.Tests.ConnectionStringResolverPgSql, Thriot.Messaging.Services.Tests" />
    </container>
  </unity>
</configuration>