<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Script" value="Sql.sql" />
    <add key="TelemetryConnectionSql" value="Server=.\SQLEXPRESS;Database=ThriotTelemetry;Trusted_Connection=True" />
    <add key="IManagementUnitOfWorkFactory" value="Thriot.Management.Operations.Sql.DataAccess.Sql.ManagementUnitOfWorkFactorySql, Thriot.Management.Operations.Sql" />
  </appSettings>
  <connectionStrings>
    <add name="ManagementConnection" connectionString="Server=.\SQLEXPRESS;Database=Thriot;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>