<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings  xdt:Transform="InsertBefore(/configuration/*[1])">
    <add key="IEnvironmentFactory" value="Thriot.TestHelpers.PgSqlEnvironmentFactory, Thriot.TestHelpers"/>
  </appSettings>
</configuration>