@section fullwidth
{
<div class="landingfullwidthbackground">
    <div class="container">
        <div class="landingbackground">
            <h1 class="landingmaintitle">Thriot</h1>
            <h1 class="landingsubtitle">The open source IoT Platform</h1>
            <h1 class="landingsubtitle">where <em>TH</em>ings are <em>RIOT</em>ing</h1>
            <h1 class="landingsubtitle">to get connected</h1>
        </div>
        <div class="landingbackgroundbottom">
            <h3>
                I've proven it several times that I'm not quite good at webdesign and cannot create neat websites.<br/>
                This time I've decided not to try it because designing websites for me takes ages with any meaningful result.<br/>
                So please forgive me for this shitty design but I rather spend time on the platform infrastructure, client libraries and documentation where I can show much more advancement in the fraction of time.                
            </h3>
        </div>
    </div>
</div>
}