@{
    ViewBag.Title = "Thriot";
}

@section fullwidth
{
<div class="landingfullwidthbackground">
    <div class="container">
        <div class="landingbackground">
            <h1 class="landingmaintitle">Thriot</h1>
            <h1 class="landingsubtitle">The open source IoT Platform</h1>
            <h1 class="landingsubtitle">where <em>TH</em>ings are <em>RIOT</em>ing</h1>
            <h1 class="landingsubtitle">to get connected</h1>
        </div>
        <div class="landingbackgroundbottom">
            <h3>
            </h3>
        </div>
    </div>
</div>
}