@{
    ViewBag.Title = "Thriot - Device";
}
@model Thriot.Web.Models.Mdl

@section scripts {
<script src="~/app/Management/DeviceViewModel.js"></script>
<script src="~/app/Management/DeviceReportDirective.js"></script>
<script src="~/app/common/dateSelector.js"></script>
<script src="~/app/common/timeSeriesGraph.js"></script>
<script src="~/lib/flot/jquery.flot.js"></script>
<script src="~/lib/flot/jquery.flot.navigate.js"></script>
<script src="~/lib/FileSaver/FileSaver.min.js"></script>
}

<div ng-controller="DeviceViewModel" data-device-id="@Model.Id">
    <table width="100%">
        <tr>
            <td width="70%">
                <h2>Device - {{device.Name}}</h2>
            </td>
            <td>
                <a ng-href="{{parentServicePageUrl}}">Go to Service</a>
                <a ng-href="{{parentNetworkPageUrl}}">&nbsp;&nbsp;Go to Enclosing network</a>
            </td>
        </tr>
        <tr>
            <td width="70%" valign="top">
                <h3>Device data</h3>
                <div device-report-directive device="device"></div>
            </td>
            <td valign="top">
                <h3>Device properties</h3>

                <div ng-if="!editDeviceVisible">
                    <h4>Basic properties</h4>
                    <p>
                        <label>Id</label> {{device.Id}}
                    </p>
                    <label>Name</label> {{device.Name}} <br />
                    <label>DeviceKey</label> {{device.DeviceKey}} <br />
                    <a href="#" ng-click="showEditDevice()">Edit</a>
                </div>
                <div class="embeddedinputform" ng-if="editDeviceVisible">
                    <h4>Edit Device</h4>
                    <label class="thinlabelwidth" for="editName">Name</label><input type="text" name="editName" ng-model="editDevice.Name" /><br />
                    <button ng-click="saveDevice()">Save</button>
                    <a href="#" ng-click="cancelInput()">Cancel</a>
                </div>
                <br />
                <div url-info-directive></div>
            </td>
        </tr>
    </table>
</div>
